*.el
*~
*.o
.Rhistory
*/ltxpng/*
*Rcheck/*
*.Rproj
.Rproj.user/*
.RData
.*.dll
.*.so
vignettes/*pdf
*.tar.gz
pkg/src-i386
pkg/src-x64
pkg/src/*.dll
rosettrTest
/etc/EXP128_SALK_BS/
/pkg/src/rosettR.so
/rosettR/
/etc/EXP130_SALK_BS/
/etc/EXP002_MERIT_FT/
/etc/EXP003_MERIT_FT/
/etc/EXP123_SALK_BS&CM/
/etc/JackGrundy_EXP01/
/analysis.R
